<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <script th:src="@{/scripts/d3.v4.js}"></script>
  <script th:src="@{/scripts/jquery.min.js}"></script>
    <!-- <link rel="stylesheet" href="css/demo.css"/> -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

  <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
</head>
<body>
  <form class="form-inline" th:action="@{/find}"> 
    <div class="form-group">
      <label for="name1">人物一</label>
      <input type="text" class="form-control" id="name1" name="name1" th:value = "${name1}">
    </div>
    <div class="form-group">
      <label for="name2">人物二</label>
      <input type="text" class="form-control" id="name2" name="name2" th:value = "${name2}">
    </div>
    <button type="submit" class="btn btn-default">查找</button>
    <a class ="btn btn-default" th:href="@{/all}">查找全部</a>
    <a href="#demo" data-toggle="collapse">快捷查找</a>
  </form>
<div id="demo" class="collapse">
  <div class="panel panel-default">
    <div class="panel-heading">
      请选择查找内容
    </div>
    <div class="panel-body">
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox1" value="option1"> 所有女性
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox2" value="option2"> 所有男性
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox3" value="option3"> 金陵十二钗
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox3" value="option4"> 金陵十二钗副册
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox3" value="option4"> 贾府
      </label>
      <a class ="btn btn-info">查询</a>
    </div>
  </div>
</div>

<script type="text/javascript">
$(function(){
	var name1 = document.getElementById("name1").value;
	var name2 = document.getElementById("name2").value;
	//"/node/reload?name1="+name1+"&name2="+name2
			//"Neo4jSon.json"
 d3.json("/node?name1="+name1+"&name2="+name2, function(json) {
            console.log(json);

            
            
            function GroupExplorer(wrapper,config){
                var defaultConfig={
                    data:{"nodes":[],"links":[]},
                    width:window.innerWidth,
                    height:window.innerHeight-30,
                    distance:200  //两个顶点之间的默认距离设为100
                };
                //console.log(defaultConfig.data.nodes);
                
                $.extend(true,defaultConfig,config);
                //console.log(defaultConfig.data.nodes);
                defaultConfig.data.links.forEach(function (e) {
                    if(typeof e.source=="number"&&typeof e.target=="number"){
                        var sourceNode = defaultConfig.data.nodes.filter(function (n) {
                                    return n.id === e.source;
                                })[0],
                                targetNode = defaultConfig.data.nodes.filter(function (n) {
                                    return n.id === e.target;
                                })[0];
                        e.source = sourceNode;
                        e.target = targetNode;
                    }
                });
               
                var _this=this,highlighted=null,dependsNode=[],dependsLinkAndText=[];

                //定义缩放zoom
                var zoom = d3.zoom()
                        .scaleExtent([0.2,10])
                        .on("zoom",function(){
                            _this.zoomed();
                        });
                //定义图谱
                this.vis = d3.select("body").append("svg")
                        .attr("width", defaultConfig.width)
                        .attr("height", defaultConfig.height)
                        .call(zoom).on("dblclick.zoom", null);

                this.vis=this.vis.append('g').attr('class','all')
                        .attr("width", defaultConfig.width)
                        .attr("height", defaultConfig.height)
                
                        
                       
                        
                //定义force对象，力导图
                this.force = d3.forceSimulation()
                        .nodes(defaultConfig.data.nodes)
                        .force("link", d3.forceLink(defaultConfig.data.links).distance(defaultConfig.distance))
                        .force("charge", d3.forceManyBody())
                        .force("center", d3.forceCenter(defaultConfig.width / 2, defaultConfig.height / 2))
                        .force("charge",d3.forceManyBody())
                        .force("collide",d3.forceCollide(60).strength(0.2).iterations(5))

                //设置箭头属性
                this.vis.append("svg:defs").selectAll("marker")
                        .data([""])
                        .enter().append("svg:marker")
                        .attr("id","arrow") //	标识的id号
                        .attr('class','arrow')
                        .attr("viewBox", "0 -5 10 10") //坐标系的区域
                        .attr("refX", 50)   //
                        .attr("refY", 0)
                        .attr("markerWidth", 10)
                        .attr("markerHeight", 16)
                        .attr("markerUnits","userSpaceOnUse")
                        .attr("orient", "auto")
                        .append("path")
                        .attr("d", "M 0 -5 L 10 0 L 0 5")
                        .attr('fill','#666')
                        .call(d3.drag());

                this.link = this.vis.selectAll(".forceLine")
                        .data(defaultConfig.data.links)
                        .enter().append("line") 
                        .attr("class", "forceLine")  //link
                        .attr('stroke-width',2) //线的宽度
                        .attr("x1", function(d) { return d.source.x; })
                        .attr("y1", function(d) { return d.source.y; })
                        .attr("x2", function(d) { return d.target.x; })
                        .attr("y2", function(d) { return d.target.y; })
                        .attr("marker-end","url(#arrow)")
                        .attr('stroke','#999')   //设置颜色#999表示一种颜色


                var dragstart=function(d, i) {
                    console.info(d3.event.subject)
                    _this.force.stop();
                    d3.event.sourceEvent.stopPropagation();
                };

                var dragmove=function(d, i) {
                    d.px += d3.event.dx;
                    d.py += d3.event.dy;
                    d.x += d3.event.dx;
                    d.y += d3.event.dy;
                    _this.tick();
                };

                var dragend=function(d, i) {
                    d3.event.subject.fx = null;
                    d3.event.subject.fy = null;
                    _this.force.restart();
                    _this.tick();
                };

                this.nodeDrag = d3.drag()
                        .on("start", dragstart)
                        .on("drag", dragmove)
                        .on("end", dragend);


                this.highlightObject=function(obj){
                    if (obj) {
                        var objIndex= obj.index;
                        dependsNode=dependsNode.concat([objIndex]);
                        dependsLinkAndText=dependsLinkAndText.concat([objIndex]);
                        defaultConfig.data.links.forEach(function(lkItem){
                            if(objIndex==lkItem['source']['index']){
                                dependsNode=dependsNode.concat([lkItem.target.index])
                            }else if(objIndex==lkItem['target']['index']){
                                dependsNode=dependsNode.concat([lkItem.source.index])
                            }
                        });
                        _this.node.classed('inactive',function(d){
                            return (dependsNode.indexOf(d.index)==-1)
                        });
                        _this.link.classed('inactive', function(d) {

                            return ((dependsLinkAndText.indexOf(d.source.index)==-1)&&(dependsLinkAndText.indexOf(d.target.index)==-1))
                        });

                        _this.linetext.classed('inactive',function(d){
                            return ((dependsLinkAndText.indexOf(d.source.index)==-1)&&(dependsLinkAndText.indexOf(d.target.index)==-1))
                        });
                    } else {
                        _this.node.classed('inactive', false);
                        _this.link.classed('inactive', false);
                        _this.linetext.classed('inactive', false);
                    }
                };

                this.node = this.vis.selectAll("g.node")
                        //.data(defaultConfig.data.links)
                        .data(defaultConfig.data.nodes)
                        .enter().append("g")
                        .attr("class", "node")
                        .call(_this.nodeDrag)    //绘图_this.nodeDrag
                        .on('mouseover', function(d) {
                            if (_this.node.mouseoutTimeout) {
                                clearTimeout(_this.node.mouseoutTimeout);
                                _this.node.mouseoutTimeout = null;
                            }
                            //_this.highlightToolTip(d);
                            _this.highlightObject(d);
                        })
                        .on('mouseout', function() {
                            if (_this.node.mouseoutTimeout) {
                                clearTimeout(_this.node.mouseoutTimeout);
                                _this.node.mouseoutTimeout = null;
                            }
                            _this.node.mouseoutTimeout=setTimeout(function() {
                               // _this.highlightToolTip(null);
                               _this.highlightObject(null);
                            }, 300);
                        })
                        .on('dblclick',function(d){
                            _this.highlightObject(d);
                            d3.event.stopPropagation();
                        });
                        d3.select("body").on('dblclick',function(){
                            dependsNode=dependsLinkAndText=[];
                            _this.highlightObject(null);
                        });

                   //定义图片
                this.node.append("svg:image")
                        .attr("class", "circle")
                       //.attr("xlink:href", "images/lindaiyu.png")
                        .attr("xlink:href", function(d){return "images/"+d.image+".png"})
                        .attr("x", "-40px")
                        .attr("y", "-40px")
                        .attr("width", "80px")
                        .attr("height", "80px")
                        
               //节点下方文字
                this.node.append("svg:text")
                        .attr("class", "nodetext")
                        .attr("dy", "30px")
                        .attr("x", "4px") //字体的x,y坐标
                        .attr("y", "30px") //
                        .attr('text-anchor','middle')
                        .attr("font-size",20) //字体大小
                        .text(function(d) { return d.name });
              // this.node.append('circle')
              //           .attr("class", "forceCircle")  
              //           .attr('r',40)
              //           .attr('cx',function(d){return d.x})
              //           .attr('cy',function(d){return d.y})  

               //边上的文字
                this.linetext=this.vis.selectAll('.linetext')
                        .data(defaultConfig.data.links)
                        .enter()
                        .append("text")
                        .attr("class", "linetext")
                        .attr("x",function(d){ return (d.source.x + d.target.x) / 2})
                        .attr("y",function(d){ return (d.source.y + d.target.y) / 2})
                        .text(function (d) {
                            return d.type
                        })
                        .call(d3.drag());

                this.zoomed=function(){
                    _this.vis.attr("transform", d3.event.transform);
                };


//移动时进行重新调整位置
                this.tick=function() {
                    _this.link.attr("x1", function(d) { return d.source.x; })
                            .attr("y1", function(d) { return d.source.y; })
                            .attr("x2", function(d) { return d.target.x})
                            .attr("y2", function(d) { return d.target.y;});
                    _this.linetext.attr("x",function(d){ return (d.source.x + d.target.x) / 2})
                            .attr("y",function(d){ return (d.source.y + d.target.y) / 2});
                    _this.node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
                };
                _this.force.on("tick", this.tick);

            }
            new GroupExplorer('body',{
                data:json
            });
        });
})
</script>

</body>
</html>

